<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Property Hunter</title>
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.6.1/js/foundation.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.6.1/css/foundation.min.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.6.1/js/plugins/foundation.core.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.6.1/js/plugins/foundation.abide.min.js"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.6.1/js/plugins/foundation.util.motion.min.js"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.6.1/js/plugins/foundation.util.keyboard.min.js"></script>

  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.6.1/js/plugins/foundation.util.timer.min.js"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.6.1/js/plugins/foundation.util.imageLoader.min.js"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.6.1/js/plugins/foundation.util.touch.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link
    href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Cinzel|Courgette|Quattrocento+Sans|Sawarabi+Mincho&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="../../public/assets/css/style.css" type="text/css">
</head>

<body class="backgroundcolor">
  <div data-sticky-container>
    <div class="title-bar" data-sticky data-options="marginTop:0;">
      <div class="title-bar-left">
        <h5 class="title-bar-title title">Property Hunter</h5><img class="logo"
          src="../../public/assets/images/arrow.png" alt="bow icon">
      </div>
      <div class="title-bar-right">
        <ul class="menu align-right">
          <li><a class="headLink" href="/profile">Profile</a></li>
          <li><a class="headLink" href="/properties">Starred Listings</a></li>
          <li><a class="headLink" href="/investment">Investments</a></li>
          <li><a class="headLink" href="/search">Search</a></li>
          <li><a class="headLink" href="/">Home</a></li>
          <li><a id="logout" class="headLink hide" href="/">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
  {{{ body }}}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="../../public/assets/js/airbnb.js"></script>
  <script src="../../public/assets/js/properties.js"></script>
  <script src="../../public/assets/js/search.js" type="text/javascript"></script>
  <script src="../../public/assets/js/signup.js" type="text/javascript"></script>
  <script src="../../public/assets/js/login.js" type="text/javascript"></script>
  <script src="../../public/assets/js/invest.js" type="text/javascript"></script>
</body>

</html>