<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.6.1/js/foundation.min.js"
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <title>Property Hunter</title>

</head>

<body>
    {{{ body }}}
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/assets/js/airbnb.js"></script>
</body>

</html>