<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.6.1/js/foundation.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.6.1/css/foundation.min.css">
    
    <title>Property Hunter</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.6.1/js/plugins/foundation.core.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.6.1/js/plugins/foundation.abide.min.js"></script>
    <link rel="stylesheet" href="../public/assets/css/style.css" type="text/css">
</head>

<div data-sticky-container>
  <div class="title-bar" data-sticky data-options="marginTop:0;">
    <div class="title-bar-left">
      <span class="title-bar-title">Property Hunter</span>
    </div>
    <div class="title-bar-right">
      <ul class="menu align-right">
  <li><a href="#">Profile</a></li>
  <li><a href="#">Starred Listings</a></li>
  <li><a href="#">Main</a></li>
  <li><a href="#">?</a></li>
</ul>
    </div>
  </div>
</div>

<body>
    {{{ body }}}
    <script src="../public/assets/js/airbnb.js"></script>
</body>

</html>