<div data-sticky-container>
  <div class="title-bar" data-sticky data-options="marginTop:0;">
    <div class="title-bar-left">
      <h5 class="title-bar-title title">Property Hunter</h5><img class="logo" src="../../public/assets/images/arrow.png"
        alt="bow icon">
    </div>
    <div class="title-bar-right">
      <ul class="menu align-right">
        <li><a class="headLink" href="/profile">Profile</a></li>
        <li><a class="headLink" href="/investment">Investments</a></li>
        <li><a class="headLink" href="/search">Search</a></li>
        <li><a class="headLink" href="/">Home</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="grid-container">
  <div class="grid-x grid-padding-x">
    <div class="medium-2 cell"></div>
    <div class="medium-8 cell">
      <div class="carousel carousel-slider center indexCarousel">
        <div class="carousel-item">
          <img
            src="https://images.mashvisor.com/457x331/C/http://photos.listhub.net/NYSMLS/10646149/2?lm=20191005T175722">
        </div>
        <div class="carousel-item">
          <img
            src="https://images.mashvisor.com/457x331/C/http://photos.listhub.net/SARWA/201926541/1?lm=20191130T001317">
        </div>
        <div class="carousel-item">
          <img
            src="https://images.mashvisor.com/457x331/C/http://photos.listhub.net/NOMARLA/2224832/1?lm=20191014T19423">
        </div>
        <div class="carousel-item">
          <img
            src="https://images.mashvisor.com/457x331/C/http://photos.listhub.net/CLAWCA/19-523292/1?lm=20200228T013117">
        </div>
      </div>
    </div>
    <div class="medium-2 cell"></div>
  </div>

</div>
<br>
<br>
<div class="grid-container">

  <div class="grid-x grid-padding-x">
    <div class="medium-6 cell text-right">
      <a class="button" href="/logIn">Log In</a>
    </div>
    <div class="medium-6 cell">
      <a class="button" href="/signUp">Sign Up</a>
    </div>

  </div>

</div>