<form>
    <div class="grid-container formStyle">

        <h3 class="text-center">Create your user profile</h3>
        <div class="grid-x grid-padding-x">
            <div class="medium-6 cell">
                <label>First name

                    <input type="text" placeholder="First">
                </label>
            </div>
            <div class="medium-6 cell">
            
                <label>Budget
                    <input type="text" placeholder="">
                </label>
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="medium-6 cell">
                <label>Last name
                    <input type="text" placeholder="Last">
                </label>
            </div>
            <div class="medium-6 cell switchfont">
                <span>Financing</span>
                <div class="finance"><span>CASH </span>
                    <div class="switch">
                        <input class="switch-input" id="financeSwitch" type="checkbox" name="financeSwitch">
                        <label class="switch-paddle" for="financeSwitch">
                            <span class="show-for-sr">Financing with Cash or Mortgage</span>
                        </label>
                    </div>
                    <span> MORTGAGE</span>
                </div>
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="medium-6 cell">

                {{!-- <label>Email
                        <input type="text" placeholder="Email">
                    </label> --}}
            </div>
            <div class="medium-6 cell">
                </label>
            </div>
        </div>
        <button class="button">Save Profile</button>
        {{!-- <button class="button">Save Profile</button> --}}
    </div>
</form>