<form>
    <div class="grid-container formStyle">
        <div class="grid-x grid-padding-x">
            <div class="medium-6 cell">
                <label><span class="title">First Name</span>
                    <input type="text" placeholder="First">
                </label>
            </div>
            <div class="medium-6 cell">
                <label><span class="title">Budget</span>
                    <input type="text" placeholder="">
                </label>
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="medium-6 cell">
                <label><span class="title">Last Name</span>
                    <input type="text" placeholder="Last">
                </label>
            </div>
            <div class="medium-6 cell">
                <label><span class="title">Cities Interested In</span>
                    <input type="text" placeholder="Cities">
                </label>
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="medium-6 cell">
                {{!-- <label>Email
                        <input type="text" placeholder="Email">
                    </label> --}}
            </div>
            <div class="medium-6 cell">
                <label><span class="title">Financing</span><br>
                    <input type="checkbox" id="finance1" name="finance1" value="Cash">
                    <span for="finance1"> Cash</span><br>
                    <input type="checkbox" id="finance2" name="finance2" value="Mortgage">
                    <span for="finance2"> Mortgage</span><br>
                </label>
            </div>
        </div>
        <button class="button">Save Profile</button>
        {{!-- <button class="button">Save Profile</button> --}}
    </div>
</form>