<form>
    <div class="grid-container formStyle">
        <div class="grid-x grid-padding-x">
            <div class="cell medium-12">
                <h3 class="text-center pageHead">Create your user profile</h3>
            </div>
        </div>
        <br>
        <div class="grid-x grid-padding-x">
            <div class="medium-6 cell">
                <label class="text-center" id="firstName">First Name
                    <input class="text-center" type="text" placeholder="John">
                </label>
            </div>
            <div class="medium-6 cell">
                <label class="text-center">Last Name
                    <input class="text-center" type="text" id="lastName" placeholder="Smith">
                </label>
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="medium-6 cell">
                <label class="text-center" id="phone">Phone #
                    <input class="text-center" type="text" placeholder="(xxx)xxx-xxxx">
                </label>
            </div>
            <div class="medium-6 cell">
                <label class="text-center">Email
                    <input class="text-center" type="email" id="profile-email" placeholder="email@email.edu">
                </label>
            </div>
        </div>
</form>
<script src="../public/assets/js/profiles.js" type="text/javascript"></script>