<form>
    <div class="grid-container formStyle">
        <div class="grid-x grid-padding-x">
            <div class="cell medium-12">
                <h3 class="text-center profileHead">Create your user profile</h3>
            </div>
        </div>
        <br>
        <div class="grid-x grid-padding-x">
            <div class="medium-6 cell">
                <label class="text-center" id="firstName">First Name
                    <input type="text" placeholder="First">
                </label>
            </div>
            <div class="medium-6 cell">
                <label class="text-center" id="budget">Budget
                    <input type="number" placeholder="">
                </label>
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="medium-6 cell">
                <label class="text-center">Last Name
                    <input type="text" id="lastName" placeholder="Last">
                </label>
            </div>
            <div class="medium-6 cell">
                <label class="text-center">Email
                    <input type="email" id="profile-email" placeholder="email@email.edu">
                </label>
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="medium-6 cell">
                <label class="text-center" id="citiesInterested">Cities Interested In
                    <input type="text" placeholder="Cities">
                </label>
            </div>
            <div class="medium-6 cell">
                <label class="text-center" id="phone">Phone #
                    <input type="text" placeholder="Phone # (xxx)xxx-xxxx">
                </label>
            </div>
        </div>
        <br>
        <button class="button" id="profileSave">Save Profile</button>
    </div>
</form>
<script src="../public/assets/js/profiles.js" type="text/javascript"></script>