<form>
    <div class="grid-container formStyle">
        <div class="grid-x grid-padding-x">
            <div class="cell medium-12">
                <h3 class="text-center">Create your user profile</h3>
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="medium-6 cell">
                <label class="text-center">First Name
                    <input type="text" placeholder="First">
                </label>
            </div>
            <div class="medium-6 cell">
                <label class="text-center">Budget
                    <input type="text" placeholder="">
                </label>
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="medium-6 cell">
                <label class="text-center">Last Name
                    <input type="text" placeholder="Last">
                </label>
            </div>
            <div class="medium-6 cell">
                <label class="text-center">Email
                    <input type="text" placeholder="Email">
                </label>
            </div>
        </div>
        <div class="grid-x grid-padding-x">
            <div class="medium-6 cell">
                <label class="text-center">Cities Interested In
                    <input type="text" placeholder="Cities">
                </label>
            </div>
            <div class="medium-6 cell">
                <label class="text-center">Phone #
                    <input type="text" placeholder="Phone # (xxx)xxx-xxxx">
                </label>
            </div>
        </div>
        <br>
        <button class="button">Save Profile</button>
    </div>
</form>