<div class="grid-x grid-padding-x">
    <div class="cell small-8">
        <div id="map" class="map"></div>
    </div>
    <div class="cell small-4 search-results">
        <div class="card" style="width: 450px;">
            <div class="card-divider">
                <h4>Property address</h4>
            </div>
            <img src="../public/assets/images/deck.jpg">
            <p>Property details. Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita voluptatem, nobis
                optio ratione
                fugiat consequatur possimus ad atque molestiae quo!</p>
        </div>
    </div>
</div>