<form>
    <div class="grid-container formStyle">
        <div class="cell">
            <h3 class="text-center pageHead">Search for a Property</h3>
            <br>
            <div class="grid-x grid-padding-x">
                <div class="medium-6 cell">
                    <label class="text-center">City
                        <input class="text-center" type="text" placeholder="City to Search">
                    </label>
                </div>
                <div class="medium-6 cell">
                    <label class="text-center">State
                        <input class="text-center" type="text" placeholder="State to Search">
                    </label>
                </div>
            </div>
            <br>
            <button class="button" id="searchBtn">Search</button>
        </div>
    </div>
</form>
<div class="grid-x grid-padding-x">
    <div class="cell medium-8">
        <div id="map" class="map hide"></div>
    </div>
    <div class="cell medium-4 listings-container"></div>
</div>
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>