<form>
    <div class="grid-container formStyle">
        <div class="cell">
            <h3 class="text-center">Search for a Property</h3>
            <div class="grid-x grid-padding-x">
                <div class="medium-6 cell">
                    <label class="text-center">City
                        <input type="text" placeholder="City">
                    </label>
                </div>
                <div class="medium-6 cell">
                    <label class="text-center">State
                        <input type="text" placeholder="State">
                    </label>
                </div>
            </div>
            <div class="grid-x grid-padding-x">
                <div class="medium-6 cell">
                    <label class="text-center">Radius
                        <input type="text" placeholder="Radius">
                    </label>
                </div>
                <div class="medium-6 cell">
                    <div class="medium-6 cell">
                        <label class="text-center">Bedrooms
                            <input type="text" placeholder="Bedrooms">
                        </label>
                    </div>
                </div>
            </div>
            <div class="grid-x grid-padding-x">
                <div class="medium-6 cell">
                    <label class="text-center">Rental Strategy
                        <input type="text" placeholder="Rental Strategy">
                    </label>
                </div>
                <div class="medium-6 cell">
                    <label class="text-center">Bathrooms
                        <input type="text" placeholder="Bathrooms">
                    </label>
                </div>
            </div>
            <br>
            <button class="button" id="searchBtn">Search</button>
        </div>
    </div>
</form>