<form>
    <div class="grid-container formStyle">
        <div class="cell">
            <h3 class="text-center pageHead">Search for a Property</h3>
            <br>
            <div class="grid-x grid-padding-x">
                <div class="medium-6 cell">
                    <label class="text-center">City
                        <input class="text-center" type="text" placeholder="City to Search">
                    </label>
                </div>
                <div class="medium-6 cell">
                    <label class="text-center">State
                        <input class="text-center" type="text" placeholder="State to Search">
                    </label>
                </div>
            </div>
            <br>
            <button class="button" id="searchBtn">Search</button>
        </div>
    </div>
</form>