.backgroundcolor {
    background-image: url(https://www.textures.com/system/gallery/photos/PBR%20Materials/ps137038/137038_header.jpg);
}

.formStyle {
    padding: 1.6rem;
    margin-top: 2rem;
    background-color: rgba(104, 239, 141, .6);
    color: white;
    border-radius: 25px;
}

body {
    font-family: 'Sawarabi Mincho', sans-serif, 'Quattrocento Sans', sans-serif, Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}

.title {
    font-family: 'Cinzel', serif, 'Courgette', cursive;
    font-size: 2rem;
}

.button {
    background-color: rgba(147, 194, 216, 1);
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.5), 0 10px 20px 0 rgba(0, 0, 0, 0.4);
}

.hide {
    display: none;
}

.pageHead {
    font-family: 'Alfa Slab One', cursive;
}

.logo {
    margin-left: 1rem;
    margin-top: .5rem;
    height: 2rem;
    width: 2rem;
}

.headLink {
    color: white;
}

.indexCarousel {
    margin-top: 6rem;
    border: solid 5px rgba(10, 10, 10, 0.6);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.5), 0 15px 20px 0 rgba(0, 0, 0, 0.4);
}

label {
    border-radius: 5px;
    color: whitesmoke;
    font-weight: 800;
    background-color: rgba(147, 194, 216, .8);
    font-size: larger;
}

ul {
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.propType {
    border-radius: 5px;
    color: whitesmoke;
    font-weight: 800;
    background-color: rgba(147, 194, 216, .8);
    font-size: larger;
}

.infoBox {
    background-color: white;
    padding: 1rem;
}

.propChar {
    line-height: .4rem;
}

.desc {
    font-size: .8rem;
}

.renStrat {
    line-height: 1.2rem;
}

.title-bar {
    background-color: rgba(74, 205, 80, 1);
}

#exampleHelpText {
    color: red;
    font-size: 1.2rem;
}

.investCarousel {
    margin-top: 8rem;
}

#map {
    height: 700px;
}

.listings-container {
    max-height: 700px;
    overflow: scroll;
    overflow-x: hidden;
}

.results-img {
    height: 350px;
}