.backgroundcolor {
    background-image: url(https://r-cf.bstatic.com/images/hotel/max1280x900/252/25267712.jpg);
}

.formStyle {

    padding: 1.6rem;
    margin-top: 2rem;
    background-color: rgba(104, 239, 141, .8);
    color: white;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

label {
    border-radius: 5px;
    color: whitesmoke;
    font-weight: 800;
    background-color: rgba(147, 194, 216);
    font-size: larger;

.title {
    padding-left: 1rem;

}

.infoBox {
    background-color: white;
    padding: 1rem;
}

.propChar {
    line-height: .4rem;
}

.desc {
    font-size: .8rem;
}

.renStrat {
    line-height: 1.2rem;
}

.title-bar {
    background-color: rgba(74, 205, 80, 1);
}

#exampleHelpText {

    color: red;
}

.orbit-container {
    min-height: 375px;
    height: 100%;
    margin-top: 100px;
    margin-left: 300px;
    margin-right: 300px;
}